$colorWhite: #ffffff;
$colorBlue: #3f50b5;
$colorBlueDark: #002884;
$colorBlueLight: #757ce8;
$colorSecondary: #f44336;
$colorBlack: #000000;

button {
    border-radius: 8px;
    background-color: transparent;
    color: $colorBlack;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;
    width: 140px;
    box-shadow: 4px 8px 16px rgba($colorBlack, $alpha: 0.15);
    transition: 0.3s all ease;

    &:active {
        scale: 1.05;
    }
}