$colorWhite: #ffffff;
$colorBlue: #3f50b5;
$colorBlueDark: #002884;
$colorBlueLight: #757ce8;
$colorSecondary: #f44336;
$colorBlack: #000000;

button {
    border-radius: 0.5rem;
    background-color: transparent;
    color: $colorBlack;
    border: 1px solid rgba($colorBlack, $alpha: 0.1);
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    width: 9rem;
    box-shadow: 0.25rem 0.25rem 1rem rgba($colorBlack, $alpha: 0.2);
    transition: 0.3s all ease;

    &:active {
        scale: 1.05;
    }
}